# Cleaning data

In [25]:
import pandas as pd

data= pd.read_csv('Data/sales.csv', index_col='State')

In [26]:
data.columns= data.columns.str.replace(' ', '_')
data

,Total_Expenses,Product,Sales,Market_Size,Profit,Market,Marketing,Product_Type,Inventory,Type
State,,,,,,,,,,
California,63.0,Amaretto,109.0,Major Market,-131.0,West,40,Coffee,2947.0,Regular
California,55.0,Green Tea,201.0,Major Market,88.0,West,24,Tea,659.0,Regular
California,143.0,Caffe Mocha,289.0,Major Market,25.0,West,109,Espresso,788.0,Regular
California,113.0,Decaf Espresso,576.0,Major Market,216.0,West,81,Espresso,1744.0,Decaf
California,37.0,Chamomile,247.0,Major Market,148.0,West,26,Herbal Tea,809.0,Decaf
...,...,...,...,...,...,...,...,...,...,...
Wisconsin,34.0,Darjeeling,90.0,Small Market,20.0,Central,11,Tea,458.0,Regular
Wisconsin,36.0,Darjeeling,113.0,Small Market,31.0,Central,14,Tea,454.0,Regular
Wisconsin,86.0,Earl Grey,150.0,Small Market,1.0,Central,57,Tea,506.0,Regular
Wisconsin,79.0,Earl Grey,131.0,Small Market,-3.0,Central,49,Tea,627.0,Regular
Wisconsin,87.0,Earl Grey,165.0,Small Market,4.0,Central,58,Tea,513.0,Regular

In [27]:
data.isnull().sum()

Total_Expenses    3
Product           0
Sales             2
Market_Size       0
Profit            6
Market            0
Marketing         0
Product_Type      0
Inventory         1
Type              0
dtype: int64

In [28]:
# remove for all null value in column
data.dropna(inplace=True)

In [29]:
data.isnull().sum()

Total_Expenses    0
Product           0
Sales             0
Market_Size       0
Profit            0
Market            0
Marketing         0
Product_Type      0
Inventory         0
Type              0
dtype: int64

# saving the new data after cleaning

In [30]:
data.to_csv('Cleanned_data.csv')