# Filtering and Sorting the data

In [15]:
import pandas as pd

data = pd.read_csv('Data/sales.csv', index_col='State')

In [16]:
highest_sales = (data['Sales']>300)
highest_sales

State
California    False
California    False
California    False
California     True
California    False
              ...
Wisconsin     False
Wisconsin     False
Wisconsin     False
Wisconsin     False
Wisconsin     False
Name: Sales, Length: 4241, dtype: bool

In [20]:
data.loc[highest_sales]

,Total Expenses,Product,Sales,Market Size,Profit,Market,Marketing,Product Type,Inventory,Type
State,,,,,,,,,,
California,113.0,Decaf Espresso,576.0,Major Market,216.0,West,81,Espresso,1744.0,Decaf
California,99.0,Lemon,582.0,Major Market,291.0,West,77,Herbal Tea,1268.0,Decaf
California,142.0,Columbian,687.0,Major Market,364.0,West,90,Coffee,2067.0,Regular
California,166.0,Columbian,902.0,Major Market,508.0,West,127,Coffee,2617.0,Regular
California,139.0,Columbian,664.0,Major Market,349.0,West,87,Coffee,2580.0,Regular
...,...,...,...,...,...,...,...,...,...,...
Washington,71.0,Chamomile,329.0,Small Market,171.0,West,40,Herbal Tea,932.0,Decaf
Washington,73.0,Chamomile,334.0,Small Market,171.0,West,41,Herbal Tea,1119.0,Decaf
Washington,75.0,Chamomile,347.0,Small Market,179.0,West,40,Herbal Tea,961.0,Decaf
Wisconsin,149.0,Columbian,317.0,Small Market,35.0,Central,120,Coffee,705.0,Regular
Wisconsin,139.0,Columbian,314.0,Small Market,48.0,Central,120,Coffee,705.0,Regular

In [21]:
data.loc[highest_sales,['Product', 'Profit', 'Sales']]

                   Product  Profit  Sales
State
California  Decaf Espresso   216.0  576.0
California           Lemon   291.0  582.0
California       Columbian   364.0  687.0
California       Columbian   508.0  902.0
California       Columbian   349.0  664.0
...                    ...     ...    ...
Washington       Chamomile   171.0  329.0
Washington       Chamomile   171.0  334.0
Washington       Chamomile   179.0  347.0
Wisconsin        Columbian    35.0  317.0
Wisconsin        Columbian    48.0  314.0

[669 rows x 3 columns]

## Get to know the name in prodcut

In [22]:
data['Product'].unique()

array(['Amaretto', 'Green Tea', 'Caffe Mocha', 'Decaf Espresso',
       'Chamomile', 'Lemon', 'Mint', 'Darjeeling', 'Earl Grey',
       'Columbian', 'Caffe Latte', 'Decaf Irish Cream',
       'Regular Espresso'], dtype=object)

## Filter the catgories name in column product

In [25]:
products = ['Caffe Latte', 'Mint']
filt = data['Product'].isin(products)
data.loc[filt]

,Total Expenses,Product,Sales,Market Size,Profit,Market,Marketing,Product Type,Inventory,Type
State,,,,,,,,,,
California,25.0,Mint,90.0,Major Market,26.0,West,12,Herbal Tea,541.0,Decaf
California,28.0,Mint,119.0,Major Market,52.0,West,17,Herbal Tea,554.0,Decaf
California,92.0,Caffe Latte,527.0,Major Market,230.0,West,74,Espresso,1819.0,Regular
California,92.0,Caffe Latte,527.0,Major Market,230.0,West,74,Espresso,1797.0,Regular
California,30.0,Mint,120.0,Major Market,38.0,West,17,Herbal Tea,554.0,Decaf
...,...,...,...,...,...,...,...,...,...,...
Washington,28.0,Caffe Latte,119.0,Small Market,52.0,West,16,Espresso,611.0,Regular
Washington,26.0,Caffe Latte,110.0,Small Market,47.0,West,14,Espresso,605.0,Regular
Washington,20.0,Caffe Latte,68.0,Small Market,23.0,West,9,Espresso,581.0,Regular
Washington,19.0,Caffe Latte,55.0,Small Market,16.0,West,7,Espresso,570.0,Regular
Washington,26.0,Caffe Latte,109.0,Small Market,47.0,West,15,Espresso,593.0,Regular