## Rename the column name

In [49]:
import pandas as pd

data = pd.read_csv('Data/sales.csv')

In [50]:
# set _ to the space column name
data.columns= data.columns.str.replace(' ','_')

In [51]:
data.Product_Type
data.head()

,State,Total_Expenses,Product,Sales,Market_Size,Profit,Market,Marketing,Product_Type,Inventory,Type
0,California,63.0,Amaretto,109.0,Major Market,-131.0,West,40,Coffee,2947.0,Regular
1,California,55.0,Green Tea,201.0,Major Market,88.0,West,24,Tea,659.0,Regular
2,California,143.0,Caffe Mocha,289.0,Major Market,25.0,West,109,Espresso,788.0,Regular
3,California,113.0,Decaf Espresso,576.0,Major Market,216.0,West,81,Espresso,1744.0,Decaf
4,California,37.0,Chamomile,247.0,Major Market,148.0,West,26,Herbal Tea,809.0,Decaf

## Change name of the column

In [52]:
data.rename(columns={'Marketing': 'Trade'}, inplace=True)

## change the value in row

In [53]:
data.loc[0, 'Sales'] = 300
data

,State,Total_Expenses,Product,Sales,Market_Size,Profit,Market,Trade,Product_Type,Inventory,Type
0,California,63.0,Amaretto,300.0,Major Market,-131.0,West,40,Coffee,2947.0,Regular
1,California,55.0,Green Tea,201.0,Major Market,88.0,West,24,Tea,659.0,Regular
2,California,143.0,Caffe Mocha,289.0,Major Market,25.0,West,109,Espresso,788.0,Regular
3,California,113.0,Decaf Espresso,576.0,Major Market,216.0,West,81,Espresso,1744.0,Decaf
4,California,37.0,Chamomile,247.0,Major Market,148.0,West,26,Herbal Tea,809.0,Decaf
...,...,...,...,...,...,...,...,...,...,...,...
4236,Wisconsin,34.0,Darjeeling,90.0,Small Market,20.0,Central,11,Tea,458.0,Regular
4237,Wisconsin,36.0,Darjeeling,113.0,Small Market,31.0,Central,14,Tea,454.0,Regular
4238,Wisconsin,86.0,Earl Grey,150.0,Small Market,1.0,Central,57,Tea,506.0,Regular
4239,Wisconsin,79.0,Earl Grey,131.0,Small Market,-3.0,Central,49,Tea,627.0,Regular
4240,Wisconsin,87.0,Earl Grey,165.0,Small Market,4.0,Central,58,Tea,513.0,Regular

In [54]:
data.at[0, 'Sales'] = 900
data

,State,Total_Expenses,Product,Sales,Market_Size,Profit,Market,Trade,Product_Type,Inventory,Type
0,California,63.0,Amaretto,900.0,Major Market,-131.0,West,40,Coffee,2947.0,Regular
1,California,55.0,Green Tea,201.0,Major Market,88.0,West,24,Tea,659.0,Regular
2,California,143.0,Caffe Mocha,289.0,Major Market,25.0,West,109,Espresso,788.0,Regular
3,California,113.0,Decaf Espresso,576.0,Major Market,216.0,West,81,Espresso,1744.0,Decaf
4,California,37.0,Chamomile,247.0,Major Market,148.0,West,26,Herbal Tea,809.0,Decaf
...,...,...,...,...,...,...,...,...,...,...,...
4236,Wisconsin,34.0,Darjeeling,90.0,Small Market,20.0,Central,11,Tea,458.0,Regular
4237,Wisconsin,36.0,Darjeeling,113.0,Small Market,31.0,Central,14,Tea,454.0,Regular
4238,Wisconsin,86.0,Earl Grey,150.0,Small Market,1.0,Central,57,Tea,506.0,Regular
4239,Wisconsin,79.0,Earl Grey,131.0,Small Market,-3.0,Central,49,Tea,627.0,Regular
4240,Wisconsin,87.0,Earl Grey,165.0,Small Market,4.0,Central,58,Tea,513.0,Regular

## Adding and remove colunm

In [55]:
# add column into data frame
new_column = data['Total_Expenses'] + data['Sales']
data['New_Column']= new_column
data

,State,Total_Expenses,Product,Sales,Market_Size,Profit,Market,Trade,Product_Type,Inventory,Type,New_Column
0,California,63.0,Amaretto,900.0,Major Market,-131.0,West,40,Coffee,2947.0,Regular,963.0
1,California,55.0,Green Tea,201.0,Major Market,88.0,West,24,Tea,659.0,Regular,256.0
2,California,143.0,Caffe Mocha,289.0,Major Market,25.0,West,109,Espresso,788.0,Regular,432.0
3,California,113.0,Decaf Espresso,576.0,Major Market,216.0,West,81,Espresso,1744.0,Decaf,689.0
4,California,37.0,Chamomile,247.0,Major Market,148.0,West,26,Herbal Tea,809.0,Decaf,284.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4236,Wisconsin,34.0,Darjeeling,90.0,Small Market,20.0,Central,11,Tea,458.0,Regular,124.0
4237,Wisconsin,36.0,Darjeeling,113.0,Small Market,31.0,Central,14,Tea,454.0,Regular,149.0
4238,Wisconsin,86.0,Earl Grey,150.0,Small Market,1.0,Central,57,Tea,506.0,Regular,236.0
4239,Wisconsin,79.0,Earl Grey,131.0,Small Market,-3.0,Central,49,Tea,627.0,Regular,210.0
4240,Wisconsin,87.0,Earl Grey,165.0,Small Market,4.0,Central,58,Tea,513.0,Regular,252.0

In [56]:
# remove column
data.drop(columns=['New_Column'], inplace=True)
data

,State,Total_Expenses,Product,Sales,Market_Size,Profit,Market,Trade,Product_Type,Inventory,Type
0,California,63.0,Amaretto,900.0,Major Market,-131.0,West,40,Coffee,2947.0,Regular
1,California,55.0,Green Tea,201.0,Major Market,88.0,West,24,Tea,659.0,Regular
2,California,143.0,Caffe Mocha,289.0,Major Market,25.0,West,109,Espresso,788.0,Regular
3,California,113.0,Decaf Espresso,576.0,Major Market,216.0,West,81,Espresso,1744.0,Decaf
4,California,37.0,Chamomile,247.0,Major Market,148.0,West,26,Herbal Tea,809.0,Decaf
...,...,...,...,...,...,...,...,...,...,...,...
4236,Wisconsin,34.0,Darjeeling,90.0,Small Market,20.0,Central,11,Tea,458.0,Regular
4237,Wisconsin,36.0,Darjeeling,113.0,Small Market,31.0,Central,14,Tea,454.0,Regular
4238,Wisconsin,86.0,Earl Grey,150.0,Small Market,1.0,Central,57,Tea,506.0,Regular
4239,Wisconsin,79.0,Earl Grey,131.0,Small Market,-3.0,Central,49,Tea,627.0,Regular
4240,Wisconsin,87.0,Earl Grey,165.0,Small Market,4.0,Central,58,Tea,513.0,Regular

In [57]:
# remove row
data.drop(index=0)

,State,Total_Expenses,Product,Sales,Market_Size,Profit,Market,Trade,Product_Type,Inventory,Type
1,California,55.0,Green Tea,201.0,Major Market,88.0,West,24,Tea,659.0,Regular
2,California,143.0,Caffe Mocha,289.0,Major Market,25.0,West,109,Espresso,788.0,Regular
3,California,113.0,Decaf Espresso,576.0,Major Market,216.0,West,81,Espresso,1744.0,Decaf
4,California,37.0,Chamomile,247.0,Major Market,148.0,West,26,Herbal Tea,809.0,Decaf
5,California,99.0,Lemon,582.0,Major Market,291.0,West,77,Herbal Tea,1268.0,Decaf
...,...,...,...,...,...,...,...,...,...,...,...
4236,Wisconsin,34.0,Darjeeling,90.0,Small Market,20.0,Central,11,Tea,458.0,Regular
4237,Wisconsin,36.0,Darjeeling,113.0,Small Market,31.0,Central,14,Tea,454.0,Regular
4238,Wisconsin,86.0,Earl Grey,150.0,Small Market,1.0,Central,57,Tea,506.0,Regular
4239,Wisconsin,79.0,Earl Grey,131.0,Small Market,-3.0,Central,49,Tea,627.0,Regular
4240,Wisconsin,87.0,Earl Grey,165.0,Small Market,4.0,Central,58,Tea,513.0,Regular